* {
  font-family: Maple Mono, monospace;
  background: transparent;
  color: #2b3a42; 
}

#window {
  color: #2b3a42;
  border-color: #cce6ff;
  border-style: solid;
  border-width: 1px;

  background-image: linear-gradient(to bottom, #e9f4ff 100%);
  border-radius: 14px;
}

#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #cce6ff;
}
#inner-box {
  padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: #cce6ff;
  color: #2b3a42;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12px;

  border-radius: 12px;
}

#entry:selected {
  background: #b3d9ff;
  color: #4a90e2;
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #cce6ff;
  color: #2b3a42;
  border-color: #b3d9ff;

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}
#input:focus {
  background: #b3d9ff;
  background-color: #b3d9ff;
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
